@charset "UTF-8";
:root {
  --texto-principal: #111111;
  --texto-secundario: rgba(0, 0, 0, 0.2);
  --background-principal: #f7f7f7;
  --background-branco: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --texto-principal: #f7f7f7;
    --texto-secundario: rgba(255, 255, 255, 0.3);
    --background-principal: #2b2b2b;
    --background-branco: #111111;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--texto-principal);
  font-size: 16px;
  background-color: var(--background-principal);
}

/*** Titulo ***/
.titulo {
  padding: 0 calc((100% - 1000px) / 2);
  margin: 30px 0 10px 0;
}

.titulo h1 {
  text-align: center;
  font-size: 2.5rem;
}

/*** Navegação ***/
header {
  padding: 20px calc((100% - 1000px) / 2);
}

header ul {
  padding: 10px calc((100% - 700px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

header a {
  background-color: #98e3e9;
  border-radius: 10px;
  width: 130px;
  height: 50px;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 1;
}

header a:hover {
  opacity: 0.7;
  border: 2px solid #f389ad;
}

/*** Bloco inicio ***/
.bloco-article {
  padding: 0 calc((100% - 1000px) / 2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.texto-inicio::before {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #f389ad;
  position: absolute;
  top: 30px;
  right: -30px;
}

.texto-inicio {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: var(--background-branco);
  padding: 20px 40px;
  position: relative;
}

.texto-inicio a {
  font-weight: 600;
  color: #111111;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  background-color: #f389ad;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 1;
}

.texto-inicio a:hover {
  opacity: 0.7;
}

.texto-inicio h1 {
  font-size: 2rem;
}

.texto-inicio p {
  line-height: 1.4;
  text-align: right;
}

.imagem-inicio img {
  max-width: 100%;
  display: block;
}

/*** Vantagens ***/
.vantagens-texto {
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  line-height: 1;
  text-align: end;
  color: var(--texto-secundario);
}

.vantagens-texto h1 {
  padding: 40px 0;
}

.vantagens-lista {
  background-color: var(--background-branco);
  padding: 40px;
  display: -ms-grid;
  display: grid;
}

.vantagem-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
  gap: 0 10px;
  padding: 12px 20px;
  border-left: 4px solid transparent;
}

.vantagem-item:nth-child(odd) {
  background-color: var(--background-principal);
}

.vantagem-item img {
  max-width: 22px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.vantagem-item h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.vantagem-item p {
  line-height: 1.4;
  grid-column: 2/-1;
}

.vantagem-item:hover {
  cursor: pointer;
}

.vantagem-item:hover:nth-child(odd) {
  border-left: 4px solid #f389ad;
}

.vantagem-item:hover:nth-child(even) {
  border-left: 4px solid #98e3e9;
}

/*** Footer ***/
footer {
  background-color: var(--background-branco);
  padding: 40px calc((100% - 1000px) / 2);
  margin-top: 60px;
}

footer h3 {
  font-size: 1.25rem;
  text-align: center;
  color: var(--texto-secundario);
}

/*** Media query ***/
@media (max-width: 900px) {
  header,
  article {
    max-width: 510px;
    margin: 0 auto;
  }
  .bloco-article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .texto-inicio::before {
    content: "";
    width: 4px;
    height: 60px;
    background-color: #f389ad;
    position: absolute;
    top: auto;
    bottom: -30px;
    left: 30px;
  }
  header ul {
    gap: 15px;
  }
  header a {
    width: 110px;
    height: 40px;
  }
  .vantagens-texto {
    padding: 0;
  }
}

@media (max-width: 510px) {
  .texto-inicio {
    padding: 20px;
  }
  .vantagens-lista {
    padding: 20px;
  }
  .vantagens-texto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.75rem;
    text-align: center;
    margin: 0 10px;
  }
  .vantagem-item {
    gap: 0 10px;
    padding: 8px 15px;
  }
}
/*# sourceMappingURL=style.css.map */